@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.inputTitle {
  font-weight: 600;
}

.formBlock {
  width: 400px;
  margin-top: 1em;
}

.formBlockHalf {
  width: 200px;
}

.formContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 400px;
}

.submitButtonContainer {
  width: 400px;
  margin-top: 1em;
  text-align: center;
}
