@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.root {
  color: #000;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px, rgba(50, 50, 93, 0.1) 0 2px 5px 0,
    rgba(0, 0, 0, 0.07) 0 1px 1.5px 0, rgba(0, 0, 0, 0.08) 0 1px 2px 0,
    rgba(0, 0, 0, 0) 0 0 0 0;
  z-index: 10;
}

.root * {
  user-select: none;
  text-decoration: none !important;
}

.container {
  margin: 0 auto;
  padding: 5px 0;
  max-width: var(--max-content-width);
}

.brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.banner {
  text-align: center;
}

.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.25em;
  margin: 0;
}

.nav {
  float: right;
  margin: 6px 0 0;
}

.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
}

.link,
.link:active,
.link:visited {
  color: rgba(0, 0, 0, 0.6);
}

.link:hover {
  color: rgba(0, 0, 0, 1);
}

.highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}

.highlight:hover {
  background: rgba(0, 0, 0, 0.3);
}

.spacer {
  color: rgba(0, 0, 0, 0.3);
}
