:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px; /* Extra small screen / phone */
  --screen-sm-min: 768px; /* Small screen / tablet */
  --screen-md-min: 992px; /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */
}

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
  font-weight: 600;
}

h3 {
  font-size: 1.6em;
  font-weight: 400;
}

h4 {
  font-size: 1.4em;
  font-weight: 400;
}

h5 {
  font-size: 1.2em;
  font-weight: 400;
}
